

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title class="projectName">projectName</title>
  <link rel="shortcut icon" href="./images/yunyi-logo.ico">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="./layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="./layuiadmin/style/admin.css" media="all">
   
</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a class="refresh-child-page" href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          
          
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite id="userName">用户</cite>
            </a>
            <dl class="layui-nav-child">
              <!-- <dd><a lay-href="set/user/info.html">基本资料</a></dd> -->
              <dd style="text-align: center;"><a id="reset-password">修改密码</a></dd>
              <hr>
              <dd style="text-align: center;"><a id="logout">退出</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo projectDesc" lay-href="home.html" title="projectDesc">
            <span class="projectName">projectName</span>
          </div>
          
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            	<!-- 菜单内容 -->
           </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="home" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>
  <div class="reset-password-title" style="display: none">
        <fieldset class="layui-elem-field layui-field-title" style="height: 50px;margin-top:5px">
        	<legend>编辑提供者资料</legend>
        </fieldset>
    </div>
    <div class="reset-password-body" style="display: none">
        <div class="layui-row" style="width:800px;margin-top: 20px">
            <div class="layui-col-md12">
                <form class="layui-form" id="formResetPassword">
                    <input type="text" name="id" lay-verify="required" autocomplete="off" class="layui-input layui-hide">
                    <div class="layui-form-item">
    					<div class="layui-col-md10 layui-inline">
                        	<label class="layui-form-label">旧密码</label>
                            <div class="layui-col-md8">
                            	<input type="text" name="old_password" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
            			</div>
        			</div>
                    <div class="layui-form-item">
    					<div class="layui-col-md10 layui-inline">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-col-md8">
                            	<input type="text" name="password" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
            			</div>
        			</div>
                    <div class="layui-form-item">
    					<div class="layui-col-md10 layui-inline">
                            <label class="layui-form-label">新密码确认</label>
                            <div class="layui-col-md8">
                            	<input type="text" name="password_confirmation" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
            			</div>
        			</div>
        			</form></div>
    				<div class="layui-form-item">
    					<div class="layui-input-block">
    						<a class="layui-btn edit" lay-filter="reset-password-submit" lay-submit="">提交</a>
    					</div>
    				</div>
    			
    		</div>
    	</div>
    
		<script src="./layuiadmin/layui/layui.js"></script>
		<script src='./js/common/jquery.min.js' type="text/javascript"></script>
		<!-- 业务相关js -->
		<script src='./js/biz/config.js' type="text/javascript"></script>
		
  <script>
	  layui.config({
	    base: './layuiadmin/' //静态资源所在路径
	  }).extend({
	    index: 'lib/index' //主入口模块
	  }).use('index');
  </script>
  <script>
	//禁止用F5键 
    layui.use('jquery', function(){
        var $ = layui.jquery;
    	document.onkeydown = function(e){
            e = window.event || e;
            var keycode = e.keyCode || e.which;
            if(keycode == 116){
                if(window.event){// ie
                    try{e.keyCode = 0;}catch(e){}
                    e.returnValue = false;
                }else{// firefox
                    e.preventDefault();
                }
                $('.refresh-child-page').click();
            }
        } 
	});
	
	layui.use(['element','table','jquery','form','layedit', 'laydate','admin'],function(){
        var admin = layui.admin;
        var $ = layui.jquery;
        var form = layui.form;
		$("#logout").on("click",function(){
	        admin.req({
	           type: 'POST',
	           async: false,
	           data: {},
	           url: Routes.logoutUrl,
	           success:function(result){
	    	    	if(result.status == 10000){
	    	    		window.location.href=Routes.loginHtml;
	    	    	}
	           }
			});
		});
		$("#reset-password").on("click",function(){
			var resetPasswordLayer = layer.open({   
            	type: 1,   
            	title: $('.reset-password-title').html(),   
            	closeBtn: 0,   
            	maxWidth:900,
            	shadeClose: true,   
            	skin: 'yourclass',   
            	content: $('.reset-password-body').html()
            });
			form.on('submit(reset-password-submit)', function(){
            	var form = $(this).parent().parent().parent();
            	var old_password = form.find("input[name='old_password']").val();
            	var password = form.find("input[name='password']").val();
            	var password_confirmation = form.find("input[name='password_confirmation']").val();
		        admin.req({
		           type: 'POST',
		           async: false,
		           data: {old_password:old_password,password:password,password_confirmation:password_confirmation},
		           url: Routes.passwordChangeUrl,
		           success:function(result){
		    	    	if(result.status == 10000){
		    	    		layer.msg("修改成功",{
			    	    		time:3000,
			    	    		cancel:function(){
				    	    		window.location.href=Routes.loginHtml;
			    	    		},
			    	    		end:function(){
				    	    		window.location.href=Routes.loginHtml;
			    	    		}
		    	    		});
		    	    	}
		           }
				});
    		});
		});

		
    });

  </script>
  <script>
	//初始化数据
	function initDataStatic() {
	 var result = {"status": "OK","msg": "","data": {"projectName": "layui模板","projectDesc": "layui模板miaoshu","company": "云翼科技","userName": "徐徐","menus": [{"name": "卡服务","menus": [],"menuItems": [{"name": "卡模块","url": "http://127.0.0.1/layui-template/card_info.html"}]}, {"name": "账号模块","menus": [],"menuItems": [{"name": "账号信息","url": "http://127.0.0.1/layui-template/account.html"}]}]}}

	 var projectName = result.data.projectName;
		var projectDesc = result.data.projectDesc;
		var company = result.data.company;
		var userName = result.data.userName;
		var menus = result.data.menus;
		
		$('.projectName').html(projectName);
		$('.projectDesc').attr('title',projectDesc);
		$('#userName').html(userName);
		createMenu(menus);
		
	}

	//初始化页面数据
	function initData() {
		//通过接口获取项目数据
		$.ajax({
			url: Routes.getInitDataUrl,
			method: 'post',
			async: false, //改成同步
			success: function(result) {
				if (result.status == 10000) {
					
					var projectName = result.data.projectName;
					var projectDesc = result.data.projectDesc;
					var company = result.data.company;
					var userName = result.data.userName;
					var menus = result.data.menus;
					
					$('.projectName').html(projectName);
					$('.projectDesc').attr('title',projectDesc);
					$('#userName').html(userName);
					
					createMenu(menus);
				} else {
					layer.alert(result.msg, {icon: 2, title: '提示', shade: [0.2, '#fff']});
				}
			},
			error: function() {
				layer.alert('网络异常或系统错误', {icon: 2, title: '系统错误', shade: [0.2, '#fff']});
				window.location.href = Routes.domain;
			}
		});
		
	}
	
	//创建菜单
	function createMenu(menus) {
		var _html = '';
		var dataIndex = 1;
		_html += '<li data-name="get" class="layui-nav-item layui-this"><a lay-href="home.html"><i class="layui-icon layui-icon-home"></i><cite>主页</cite></a></li>';
		$.each(menus,function(index,menu) {   
			_html += '<li data-name="'+menu.name+'" class="layui-nav-item">'+'<a href="javascript:;" lay-tips="'+menu.name+'">'+'<i class="layui-icon layui-icon-app"></i>'+'<cite>'+menu.name+'</cite><span class="layui-nav-more"></span></a>';
			_html += '<dl class="layui-nav-child">';
			//处理子菜单节点
			$.each(menu.menus,function(index2,subMenu) {
				_html += '<dd data-name="'+subMenu.name+'"><a>'+subMenu.name+'<span class="layui-nav-more"></span></a>';
				//处理category节点
                _html += '<dl class="layui-nav-child">';
                //处理菜单项
                $.each(subMenu.menuItems,function(index2,menuItem) {
                    _html += ' <dd><a lay-href="'+menuItem.url+'">'+menuItem.name+'</a></dd>';
                });
                _html += '</dl>';

				_html += '</dd>';
			});
			
			//处理菜单项
			$.each(menu.menuItems,function(index2,menuItem) {
				_html += ' <dd><a lay-href="'+menuItem.url+'">'+menuItem.name+'</a></dd>';
			});
			_html += '</dl>';
			_html += '</li>';
		});  
		
		$("#LAY-system-side-menu").html(_html);
	}

	//页面加载数据
	$(document).ready(function(){
		//动态获取数据
		initData();
		
		//静态数据
		// initDataStatic();
		
	});

	</script>
</body>
</html>


