<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card" style="margin-bottom: 4px;">
                <div class="layui-card-body page-title" style="/* height: 60px; */">
                    <h2 style="/* margin-top: 18px; */">商户管理页面</h2>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header" style="height: 70px"></div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="table_user_list" lay-filter="table_user"></table>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/layuiadmin/layui/layui.js" ></script>
<!-- 业务相关js -->
<script src='/js/biz/config.js' type="text/javascript"></script>
<script th:inline="none">
    layui.config({
        base: '../layuiadmin/'
    }).extend({index:'lib/index'})
        .use(['index', 'table','form','jquery','system'], function(){
            var table = layui.table;
            var form = layui.form;
            var $ = layui.$;
            var system = layui.system;

            //第一个实例
            table.render({
                elem: '#table_user_list'
                ,height: 312
                ,url: Routes.mchListUrl //数据接口
                ,method: 'POST'
                // ,page: true //开启分页
                ,page: {
                    limits: [10, 15, 20, 30]
                    /*                , layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                                    , theme: '#1E9FFF'*/
                }
                // ,limit:10
                ,cols: [[ //表头
                    {field:'serialNumber', width:50, title: '序号',fixed: 'left',type:'numbers'}
                    ,{field: 'companyName', title: '所属企业', width:130, align: 'center'}
                    ,{field: 'name', title: '商户名称', width:130, align: "center"}
                    ,{field: 'invoiceTitle', title: '发票抬头', width:130, align: "center"}
                    ,{field: 'cwMerchantCode', title: '云翼商户代码', width:130, align: 'center'}
                    ,{field: 'note', title: '备注', width: 130, align: "center"}
                    ,{field: 'createUserName', title: '数据创建者', width: 130, align: "center"}
                    ,{field: 'updateUserName', title: '数据更改者', width: 130, align: "center"}
                    ,{field: 'createAt', title: '数据创建时间', width: 130, align: "center"}
                    ,{field: 'updateAt', title: '数据更改时间', Width: 130, align: "center"}
                ]]
                ,parseData: function(res) {
                    return {
                        "code": res.status,
                        "msg": res.msg,
                        "count": res.data.total,
                        "data": res.data.list
                    };
                }
                ,response: {
                    //     statusName: 'status' //规定数据状态的字段名称，默认：code
                    statusCode: '10000' //规定成功的状态码，默认：0
                    //     ,msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    //     ,countName: 'total' //规定数据总数的字段名称，默认：count
                    //     ,dataName: 'data.list' //规定数据列表的字段名称，默认：data
                }
            });
        });
</script>
</body>
</html>